@model ITSWebMgmt.Models.ComputerModel
@using System.Web;
<script>
    $(document).ready(function () {
        $('.menu .item').tab({ history: false });
    });
</script>
<div id="loader">
    <div class="ui active dimmer" style="display: none">
        <div class="ui text loader">Loading</div>
    </div>
</div>

<h1>Computer Info</h1>
<div>
    <form method="get">
        Computername:
        <div class="ui action input">
            <input name="computername" id="computername" class="ui input focus" value=@Html.DisplayFor(model => model.ComputerName) />
            <input type="submit" value="Search" onclick='$("#loader > div").show("fast");'>
        </div>
    </form>
    <br />
</div>
<div id="content">
    <script>
        // Code for changing tab
        $(document).ready(function () {
            $('.menu .item').tab({
                'onVisible': function () {
                    var dataTabName = $(this).attr("data-tab");
                    var urlParams = new URLSearchParams(window.location.search);
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("LoadTab", "Computer")',
                        contentType: "application/html; charset=utf-8",
                        data: { tabName: dataTabName, name: urlParams.get('computername')},
                        success: function (returnedData) {
                            $("#" + dataTabName).html(returnedData);
                        },
                        error: function (responce) {
                            document.open();
                            document.write(responce.responseText);
                            document.close();
                        }
                    });
                }
            });
        });
    </script>
    <script>
        //script for sending button presses as POST request to controller
    function sendPostRequest(Action, data) {
        var computername = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.ComputerName))';
        if (arguments.length === 1) {
            data = JSON.stringify(computername);
        }
        $.ajax({
            type: "POST",
            url: 'Computer/' + Action,
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: "json",
            success: function (response) {
                alert(response.message);
            },
            error: function (response) {
                var r = JSON.parse(response.responseText);
                alert(r.errorMessage);
            }
        });
    }
    </script>
    @if (!Model.ComputerFound)
    {
        @Html.DisplayFor(model => model.ResultError)
    }
    else
    {
        <div runat="server" id="warningsAndErrorDIV">
            @Html.Raw(Model.ErrorCountMessage)
        </div>
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    @if (Model.IsWindows)
                    {
                        <a class="active item" data-tab="basicinfo">Basic Info</a>
                    }
                    else
                    {
                        <a class="active item" data-tab="macbasicinfo">Basic Info</a>
                    }
                    @foreach (var tab in Model.Tabs)
                    {
                        <a class="item" data-tab=@tab.TabId>@tab.TabName</a>
                    }
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui tab segment">
                    none<!-- spacer as the fist elemen else is placed differencet -->
                </div>
                @if (Model.IsWindows)
                {
                    <div id="basicinfo" class="ui active tab segment" data-tab="basicinfo">@Html.Partial("Windows/BasicInfo", Model.Windows)</div>
                }
                else
                {
                    <div id="macbasicinfo" class="ui active tab segment" data-tab="macbasicinfo">@Html.Partial("RawHTMLTab", new RawHTMLModel("Basic info", Model.Mac.HTMLForBasicInfo))</div>
                }
                @foreach (var tab in Model.Tabs)
                {
                    <div class="ui tab segment" id=@tab.TabId data-tab=@tab.TabId>
                        @if (tab.ShowLoader)
                        {
                            <div id="smloader">
                                <div class="ui active dimmer" style="display: none">
                                    <div class="ui text loader">Loading</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
