@model ITSWebMgmt.Models.UserModel
@using ITSWebMgmt.Helpers
<partial>
<table class="ui definition table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Html.DisplayFor(model => model.DisplayName)</td>
        </tr>
        @*<tr>
            <td>ADMdb Expire Date</td>
            <td>@Html.DisplayFor(model => model.AdmDBExpireDate)</td>
        </tr>*@
        <tr>
            <td>New IR/SR for user</td>
            <td>
                @using (Html.BeginForm("CreateNewIRSR", "User", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.UserPrincipalName)
                    @Html.HiddenFor(m => m.SCSMUserID)
                    <input type="submit" value="Create new IR/SR" />
                }
            </td>
        </tr>
        <tr>
            <td>Department (Pure)</td>
            <td>@Html.DisplayFor(model => model.BasicInfoDepartmentPDS)</td>
        </tr>
        <tr>
            <td>Office (Pure)</td>
            <td>@Html.DisplayFor(model => model.BasicInfoOfficePDS)</td>
        </tr>
        <tr>
            <td>ADFS locked</td>
            <td>@Html.DisplayFor(model => model.BasicInfoADFSLocked)</td>
        </tr>
        <tr>
            <td>Account locked</td>
            <td>@Html.DisplayFor(model => model.BasicInfoLocked)</td>
        </tr>
        <tr>
            <td>Password Expire Date</td>
            <td>@Html.DisplayFor(model => model.BasicInfoPasswordExpireDate)</td>
        </tr>
        @Html.Raw(Model.BasicInfoTable)
        <tr>
            <td>Primary leader (AD)</td>
            <td>@Html.Raw(TableGenerator.getPersonLinkFromADPath(Model.Manager))</td>
        </tr>
        <tr>
            <td>Romaing Profile</td>
            <td>@Html.DisplayFor(model => model.BasicInfoRomaing)</td>
        </tr>
    </tbody>
</table>
</partial>