@model ITSWebMgmt.Models.PrintModel
@if (Model.CredentialError != null)
{
    @Model.ConectionError
}
else if (Model.ConectionError != null)
{
    @Model.ConectionError
}
else if (!Model.Found)
{
    <p>Not found!</p>
}
else
{
    @if (Model.EquitracDisabled != "")
    {
        <p>@Model.EquitracDisabled</p>
    }
    @Model.AAUCardKonica
    <br />
    @Model.AAUCardXerox
    <br />
    <br />
    @if (!(Model.EquitracDisabled.StartsWith("Error!") || Model.AAUCardKonica.StartsWith("Error!") || Model.AAUCardXerox.StartsWith("Error!")))
    {
        <p>AAU Card OK</p>
    }
    @if (Model.DepartmentThing == null)
    {
        <p>
            Free Credits: @Model.Free<br />
            Paid Credits: @Model.Paid<br />
            Remaning Credits: @Model.Balance
        </p>
    }
    else
    {
        <p>Department: @Model.DepartmentName<br />User has "free print"</p>
    }
}