@model ITSWebMgmt.Models.UserModel
@using ITSWebMgmt.Connectors
<script>
    $("#smloader > div").hide("fast");
</script>
@{
    SCSMConnector sccm = new SCSMConnector();
    Model.ServiceManager = await sccm.GetServiceManager(Model.UserPrincipalName, Model.GetUserMails());
    Model.SCSMUserID = sccm.userID;
}

<h2>SCSM Information</h2>
@if (Model.SCSMUserID == "")
{
    <p>User not found in Service Manager</p>
}
else
{
    @using (Html.BeginForm("CreateNewIRSR", "User", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.UserPrincipalName)
        @Html.HiddenFor(m => m.SCSMUserID)
        <input type="submit" value="Create new IR/SR" />
    }
    <br>
    <br />
    <br />
    <a href="https://service.aau.dk/user/UserRelatedInfoById/" + @Model.SCSMUserID>Service Portal User Info</a>
    <br>
    <h1>Open Requests</h1>
    <br>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID </th>
                <th>Title </th>
                <th>Status</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        @foreach (var d in Model.ServiceManager.OpenCases)
        {
            <tr>
                <td><a href="https://webmgmt.aau.dk/AAURedirector/?id=@d.Id" target="_blank">@d.Id</a></td>
                <td>@d.Title</td>
                <td>@d.Status</td>
                <td>@d.LastModified.ToString("yyyy-MM-dd HH:mm")</td>

            </tr>
        }
    </table>
    <br />
    <h1>Closed Requests</h1>
    <br>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>ID </th>
                <th>Title </th>
                <th>Status</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        @foreach (var d in Model.ServiceManager.ClosedCases)
        {
            <tr>
                <td><a href="https://webmgmt.aau.dk/AAURedirector/?id=@d.Id" target="_blank">@d.Id</a></td>
                <td>@d.Title</td>
                <td>@d.Status</td>
                <td>@d.LastModified.ToString("yyyy-MM-dd HH:mm")</td>

            </tr>
        }
    </table>
}