@model ITSWebMgmt.Models.UserModel
@using System.Web;

<h2>Tasks</h2>
<br />
Unlock Account (if locked by wrong password):
<button id="unlockUserAccountButton">Unlock Account</button>
<br />
<br />
 Roaming Profile (Currently enabled: @Model.BasicInfoRomaing):
<button id="ToggleRoaming">ToggleRoaming</button>
<br />
(The status might not be correct, because it takes some time to update AD with the new value)
<br />
<br />
@if (Model.ShowFixUserOU)
{
    <div runat="server" id="divFixuserOU">
        Move user to default OU:
        <button id="fixUserOU" Style="display: none">Move user to default OU</button>
        <button id="btnFixOUShowModal" onclick="$('#modalConfirmOUmove').modal('show');">Move user to default OU</button><br />
    </div>
}
<h3>Form for adding user and computer to Onedrive</h3>
<label>Affected User</label>
<br />
@Html.TextBoxFor(m => m.UserPrincipalName, new { @readonly = true })
<br />
<label>Computername</label>
<br />
<input type="text" id="computername" />
<br />
<label>Case number</label>
<br />
<input type="text" id="casenumber" />
<br />
<button id="SetupOneDrive">Setup Onedrive</button>
<br />
<br />
@if(Model.IsDisabled)
{
    <h3>Form for enabling user in AD</h3>
    <label>Affected User</label>
    <br />
    @Html.TextBoxFor(m => m.UserPrincipalName, new { @readonly = true })
    <br />
    <label>Required actions for enabling the user fulfilled?</label>
    <br />
    <input type="checkbox" id="check" />
    <br />
    <label>Case number</label>
    <br />
    <input type="text" id="casenumber3" />
    <br />
    <button id="EnableADUser">Enable user from AD</button>
}
else
{
    <h3>Form for disabling user in AD</h3>
    <label>Affected User</label>
    <br />
    @Html.TextBoxFor(m => m.UserPrincipalName, new { @readonly = true })
    <br />
    <label>Reason</label>
    <br />
    <input type="text" id="reason" />
    <br />
    <label>Case number</label>
    <br />
    <input type="text" id="casenumber2" />
    <br />
    <button id="DisableADUser">Disable user from AD</button>
}
<br />
<br />

<script>
    $("#fixUserOU").click(function () {
        sendPostRequest("FixUserOu")
    });

    $("#ToggleRoaming").click(function () {
        sendPostRequest("ToggleUserprofile")
    });

    $("#unlockUserAccountButton").click(function () {
        sendPostRequest("UnlockUserAccount")
    });

    $("#SetupOneDrive").click(function () {
        var data = '@HttpUtility.JavaScriptStringEncode(Model.UserName)' + '|' + $('#computername').val() + '|' + $('#casenumber').val();
        sendPostRequest("SetupOneDrive", JSON.stringify(data));
    });

    $("#DisableADUser").click(function () {
        var data = '@HttpUtility.JavaScriptStringEncode(Model.UserName)' + '|' + $('#reason').val() + '|' + $('#casenumber2').val();
        sendPostRequest("DisableADUser", JSON.stringify(data));
    });

    $("#EnableADUser").click(function () {
        var data = '@HttpUtility.JavaScriptStringEncode(Model.UserName)' + '|' + $('#check').prop("checked") + '|' + $('#casenumber3').val();
        sendPostRequest("EnableADUser", JSON.stringify(data));
    });
        
    //script for sending button presses as POST request to controller
    function sendPostRequest(Action, data) {
        var username = '@HttpUtility.JavaScriptStringEncode(Model.UserName)';
        if (arguments.length === 1) {
            data = JSON.stringify(username);
        }
        $.ajax({
            type: "POST",
            url: 'User/' + Action,
            contentType: "application/json; charset=utf-8",
            data: data,
            dataType: "json",
            success: function (response) {
                alert(response.message);
            },
            error: function(response) {
                var r = JSON.parse(response.responseText);
                alert(r.errorMessage);
            }
        });
    }
</script>