@model ITSWebMgmt.Models.HomeModel

@{
    ViewData["Title"] = "WebMgmt";
}

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="ui segment">
        <style>
            .column {
                float: left;
                width: 50%;
            }

            /* Clear floats after the columns */
            .container:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
        <h1>ITS Web Manager</h1>
        <div class="container">
            <div class="column">
                Global search (only email or AAU number):
                <form asp-controller="Home" asp-action="Search" method="post">
                    <div class="ui action input">
                        <input name="searchstring" id="searchstring" class="ui input focus" value="" />
                        <input type="submit" value="Search" onclick='$("#loader > div").show("fast");'>
                    </div>
                </form>

                <a class="item" asp-area="" asp-controller="User" asp-action="Index">User Info</a><br />
                <a class="item" asp-area="" asp-controller="Computer" asp-action="Index">Computer Info</a><br />
                <a class="item" asp-area="" asp-controller="Log" asp-action="Index">Log (Only for platform)</a><br />
                <a class="item" asp-area="" asp-controller="ComputerList" asp-action="Index">Computer list (Only for platform)</a><br />
                <a class="item" asp-area="" asp-controller="KnownIssues" asp-action="Index">Manage known issues (Only for platform)</a><br />
                <a class="item" asp-area="" asp-controller="MissingGroups" asp-action="Index">Manage Mac error groups (Only for platform)</a><br />
                <a class="item" asp-area="" asp-controller="CSV" asp-action="Index">CSV to email converter</a><br />
                <br/>
                @using (Html.BeginForm("GiveFeedback", "Home", FormMethod.Post))
                {
                    <input type="submit" value="Request new feature or report issue" />
                }
            </div>

            <div class="column">
                <h3>Last searches:</h3>
                @foreach (var entry in Model.LastSearches)
                {
                    if (entry.Type == ITSWebMgmt.Models.Log.LogEntryType.ComputerLookup)
                    {
                        string ADPath = entry.Arguments[0].Value;
                        int from = ADPath.IndexOf("CN=") + "CN=".Length;
                        int to = ADPath.IndexOf(',', from);
                        string name = ADPath;

                        if (to > 0 && to - from > 0)
                        {
                            name = ADPath.Substring(from, to - from);
                        }
                        <a href="@("/Computer?computername=" + name)">@name</a>
                    }
                    else
                    {
                        string name = entry.Arguments[0].Value;
                        <a href="@("/User?username=" + name)">@name</a>
                    }
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="ui segment">
        <h2>Known issues</h2>
        @foreach (var item in Model.KnownIssues)
        {
            <h3>@item.Title</h3>
            @Html.Raw(item.Description.Replace(System.Environment.NewLine, "<br />"))
            @if (@item.OneNoteLink != null && @item.CaseLink != null)
            {
                <p>
                    <a href='@item.OneNoteLink'>View in OneNote</a> | <a href='@item.CaseLink'>View case</a>
                </p>
            }
            else
            {
                @if (@item.OneNoteLink != null)
                {
                    <p><a href='@item.OneNoteLink'>View in OneNote</a></p>
                }
                @if (@item.CaseLink != null)
                {
                    <p><a href='@item.CaseLink'>View case</a></p>
                }
            }
        }
    </div>
    <div class="ui segment">
        Du kan bidrage til udviklingen af Webmgmt på siden <a href="https://github.com/AAUITSPlatform/AAUWebMgmt">github.com/AAUITSPlatform/AAUWebMgmt</a>
    </div>

</asp:Content>
