@model ITSWebMgmt.Models.GroupModel

<h2>Basic Info</h2>
<table class="ui definition table">
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Domain:</td>
            <td>@Html.DisplayFor(model => model.Domain)</td>
        </tr>
        <tr>
            @if (Model.IsFileShare)
            {
                <td>Managed By:</td>
                <td>
                    @Model.ManagedBy.ManagedByADPath
                </td>
            }
            else
            {
                @await Html.PartialAsync("ManagedBy", Model.ManagedBy)
            }
        </tr>
        <tr>
            <td>Is Security group:</td>
            <td>
                @Html.DisplayFor(model => model.SecurityGroup)
            </td>
        </tr>
        <tr>
            <td>Group Scope:</td>
            <td>
                @Html.DisplayFor(model => model.GroupScope)
            </td>
        </tr>
        <tr>
            <td>Group Description:</td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>Group Info:</td>
            <td>
                @Html.DisplayFor(model => model.Info)
            </td>
        </tr>
    </tbody>
</table>