@using System.DirectoryServices
@using ITSWebMgmt.Helpers
@model List<PropertyValueCollection>
    <table class="ui celled structured table">
        <thead><tr><th>Key</th><th>Value</th></tr></thead>
        <tbody>
            @foreach (PropertyValueCollection a in Model)
            {
                <tr>
                    <!--Don't display admin password in raw data-->
                    @if (a != null && a.Count > 0 && a.PropertyName != "ms-Mcs-AdmPwd")
                    {
                        <td rowspan="@a.Count">@a.PropertyName</td>
                        string v = ADHelper.ConvertToStringWithCorrectFormatIfDate(a[0]);

                        if (a.Count == 1)
                        {
                            <td>@v</td>
                        }
                        else
                        {
                            <td>@v</td>
                            @for (int i = 1; i < a.Count; i++)
                            {
                                v = ADHelper.ConvertToStringWithCorrectFormatIfDate(a[i]);
                                <tr><td>@v</td></tr>
                            }

                        }
                    }
                    else
                    {
                    <tr><td></td></tr>
                    }
                </tr>
            }
        </tbody>
    </table>
