@model ITSWebMgmt.Models.WindowsComputerModel
@using System.Web;

<table class="ui definition table">
    <tbody>
        <tr>
            <td>Domain:</td>
            <td>
                @Html.DisplayFor(model => model.Domain)
            </td>
        </tr>
        <tr>
            <td>LastLogonUserName:</td>
            <td>
                @Html.DisplayFor(model => model.LastLogonUserName)
            </td>
        </tr>
        <tr>
            <td>Admin Pwd Expire:</td>
            <td>
                @Html.DisplayFor(model => model.PasswordExpireDate)
            </td>
        </tr>
        <tr>
            <td>PC Config:</td>
            <td>
                @Html.DisplayFor(model => model.ConfigPC)
            </td>
        </tr>
        <tr>
            <td>Bitlocker Enabled:</td>
            <td>
                @Html.DisplayFor(model => model.ConfigExtra)
            </td>
        </tr>
        <tr>
            @await Html.PartialAsync("ManagedBy", Model.ManagedBy)
        </tr>
        <tr>
            <td>Using OneDrive:</td>
            <td>
                @Model.UsesOnedrive
            </td>
        </tr>
    </tbody>
</table>
<br />
<div id="password"></div>
<div id="passworddiv">
    @if (Model.ShowResultGetPassword)
    {
        <button id="btnPassword">Get Local Admin Password</button>
    }
</div>
<script>
    $("#btnPassword").click(function ()
    {
        getPassword('');
    });
    function getPassword(buttonNumber)
    {
        var computername = '@HttpUtility.JavaScriptStringEncode(Model.ComputerName)';
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResultGetPassword", "Computer")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(computername),
            dataType: "json",
            success: function (response) {
                let colouredResponse = "";
                for (let a = 0; a < response.message.length; a++) {
                    let letter = response.message.charAt(a);
                    let colour = "";

                    if (!isNaN(letter * 1)) {
                        //if letter is a number
                        colour = "red";
                    }
                    else if (letter == letter.toUpperCase()) {
                        //if letter is uppercase
                        colour = "green";
                    }
                    else if (letter == letter.toLowerCase()) {
                        //if letter is lowercase
                        colour = "blue";
                    }
                    else {
                        //to handle edgecases
                        colour = "orange";
                    }

                    colouredResponse += "<span style=\"color: " + colour + "\">" + letter + "</span>"
                }
                document.getElementById('passworddiv' + buttonNumber).style.display = "none";
                document.getElementById('password' + buttonNumber).innerHTML = "<code>" + colouredResponse + "</code><p><br />Password will expire in 8 hours.</p>";
                document.getElementById('passwordExpirationNotice' + buttonNumber).style.display = "inline";
            },
            error: function (response) {
                var r = JSON.parse(response.responseText);
                document.getElementById('passworddiv' + buttonNumber).style.display = "none";
                document.getElementById('password' + buttonNumber).innerHTML = r.errorMessage;
            }
        });
    }
</script>